name: Todoist Box

on:
  schedule:
    - cron: "0 * * * *"
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update-gist:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: 24
          package-manager-cache: false
      - name: Update gist
        uses: ./
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: ${{ secrets.GIST_ID }}
          TODOIST_AUTH_CODE: ${{ secrets.TODOIST_AUTH_CODE }}
          TODOIST_API_KEY: ${{ secrets.TODOIST_API_KEY }}
          TODOIST_CLIENT_ID: ${{ secrets.TODOIST_CLIENT_ID }}
          TODOIST_CLIENT_SECRET: ${{ secrets.TODOIST_CLIENT_SECRET }}
