name: Test
on:
  pull_request:

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: 24
          package-manager-cache: false
      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('package-lock.json') }}
          restore-keys: node_modules- # Take any latest cache if failed to find it for current package-lock.json
      - run: npm install
      - run: npm run build
      - run: node ./dist/index.js
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: ${{ secrets.GIST_ID }}
          TODOIST_AUTH_CODE: ${{ secrets.TODOIST_AUTH_CODE }}
          TODOIST_API_KEY: ${{ secrets.TODOIST_API_KEY }}
          TODOIST_CLIENT_ID: ${{ secrets.TODOIST_CLIENT_ID }}
          TODOIST_CLIENT_SECRET: ${{ secrets.TODOIST_CLIENT_SECRET }}
